.add {
    width: 70%;
    margin-top: 50px;
    margin-left: max(5vw, 25px);
    color: #6d6d6d;
    font-size: 16px;
}

.add form {
    gap: 20px;
}

/* 
.add-img-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-img-upload:hover {
    background-color: #eee;
} */

.add-img-upload img {
    width: 120px;
    cursor: pointer;
}
/* 
input[type="file"] {
    display: none;
} */

.add-product-name,
.add-product-description,
.add-category-price {
    width: max(40%, 280px);
}

.add-product-name input,
.add-product-description textarea {
    /* width: 100%; */
    padding: 10px;
}
/* margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
} */

/* .add-category-price {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.add-price {
    flex: 1;
} */

.add-category-price {
    display: flex;
    gap: 30px;
}

.add-category {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-category select,
.add-price input {
    max-width: 120px;
    padding: 10px;
}

.add-btn {
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.add-btn:hover {
    background-color: tomato;
}
