.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo {
    width: 130px;
}
.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    color: rgb(54, 54, 54);
    font-size: large;
}
.navbar-right {
    display: flex;
    gap: 40px;
    align-items: center;
}
.navbar button {
    background: transparent;
    color: rgb(54, 54, 54);
    border: none;
    border-radius: 50px;
    border: 1px solid gray;
    transition: background-color 0.3s ease;
    font-size: 15px;
    padding: 10px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.navbar button:hover {
    background-color: tomato;
}
.navbar-menu li {
    cursor: pointer;
}
.active {
    border-bottom: 1px solid rgb(54, 54, 54);
    color: tomato;
}
.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}
.navbar-profile {
    position: relative;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}
.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.nav-profile-dropdown img {
    width: 20px;
}
.nav-profile-dropdown li:hover {
    color: tomato;
}
